<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}}{{else}}DevelopersMz | Desenvolvimento Web e Inovação{{/if}}</title>
    <meta name="description" content="A DevelopersMz é especializada em soluções de desenvolvimento web, tecnologias inovadoras e design criativo. Explore serviços e conteúdos voltados para impulsionar projetos e negócios digitais.">
    <meta name="keywords" content="desenvolvimento web, inovação, design, tecnologias, DevelopersMz, soluções digitais">
    <meta name="author" content="DevelopersMz">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{{#if title}}{{title}}{{else}}DevelopersMz | Desenvolvimento Web e Inovação{{/if}}">
    <meta property="og:description" content="A DevelopersMz é especializada em soluções de desenvolvimento web, tecnologias inovadoras e design criativo. Explore serviços e conteúdos voltados para impulsionar projetos e negócios digitais.">
    <meta property="og:image" content="/img/logo-developersmz.png">
    <meta property="og:url" content="https://developersmz.onrender.com">
    <meta property="og:type" content="website">
</head>
<body>
    {{{ body }}}
</body>
</html>